@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Raleway:200,400,700,900');

@import './base';
@import './vars';

// Index & Success Page
.hero-background-0 {
  background: url(../images/hero-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100%;
  opacity: 0.22;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.hero-background-1 {
  background-image: linear-gradient(to bottom, darken($teal, 60%), lighten($teal, 3%));
  background-size: cover;
  opacity: 0.4;
  height: 100%;
  margin-top: 0px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.row-1 {
  height: 850px;
  background: rgba($teal, 0.001);
  border-width: 0;
}

.card-2 {
  //margin-top: 100px;
  //height: 850px;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  background: rgba($teal, 0.001);
  border-width: 0;
  //width: 1080px;
  //display:block;
  //clear:both;
  //margin-bottom: 2rem;
}

.card-3 {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  background: rgba($light, 0.96);
  border-width: 0;
  padding-top: 1.5rem;
  //margin-bottom: 1.5rem;
  //margin-top: 2rem;
  //height: 500px;
  //display:block;
  //margin-top: 30rem;
}

.page-header {
  color: $light;
}

.index-intro {
  background: rgba($teal, 0.001);
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  border-width: 0;
  &__page-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $light;
    font-size: 4rem;
    justify-content: center;
  }

  &__profession {
    color: $light;
    font-size: 1.25rem;
  }

  &__motto {
    color: $light;
    font-size: 0.99rem;
    margin-top: 0.5rem;
  }

  &__button {
    background-image: linear-gradient(to right, darken($teal, 15%), darken($teal, 5%));
    display: block;
    border-radius: 4px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-width: 0;
    box-shadow: 2px 4px darken($teal, 50%);
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.035);
    }
  }

  &__link {
    color: darken(white, 12%);
    transition: color 0.5s ease;
    &:hover {
      color: white;
      font-weight: bold;
    }
  }
}

// About Page
.about-img {
  background: rgba($teal, 0.001);
  justify-content: center;
  //display: inline-block;
  width: 50%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  //box-shadow: 2px 4px darken($teal, 25%);
}

.about-me {
  display: inline-block;
  background: rgba($teal, 0.001);
  border-width: 0;
  background: rgba($teal, 0.96);

  &__body {
    background: rgba($brown, 0.96);
    //width: 1080px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    //border-radius: 4px;
  }

  &__title {
    color: lighten($light, 5%);
    //background-image: linear-gradient(to bottom, darken($light, 4%), darken($light, 1%));
    font-size: 24px;
    width: 100%;
  }
  
  &__text {
    color: darken($light, 5%);
    //background-image: linear-gradient(to bottom, darken($brown, 4%), darken($brown, 1%));
  }
}

// Contact Form

.contact-col {
  margin: 1rem;
}
.contact-card {
  margin-top: 4rem;
  background: rgba($teal, 0.001);
  border-width: 0;
  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: darken($teal, 1%);
  }

  &__subtitle {
    color: lighten($teal, 20%);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
  
  &__success-subtitle {
    color: lighten($teal, 20%);
    font-size: 1.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
  &__body {
    margin: auto;
  }

  &__name {
    display: block;
    margin: 0 auto;
    background-color: darken(white, 4%);
  }
  
  &__email {
    display: block;
    margin: 1.25rem auto;
    background-color: darken(white, 4%);
  }

  &__message {
    justify-content: center;
    display: block;
    margin: 2rem auto;
  }

  &__send-message {
    justify-content: center;
    display: block;
    margin: 1rem auto;
    border-color: $teal !important;
    color: $teal;
    transition: color .5s, all .25s ease-in-out;
    &:hover {
      color: lighten($teal, 35%);
      transform: scale(1.06);
    }
  }

  & textarea {
    background-color: darken(white, 4%);
  }
}

.follow-card {
  background-image: linear-gradient(to bottom, lighten($teal, 3%), lighten($teal, 6.2%));

  &__title {
    font-weight: bold;
    font-size: 2rem;
    color: darken($teal, 4%);
  }
}

.email-gif {
  width: 25%;
  display: block;
  margin:auto;
}